header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
}

#logo-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

#scoreboard {
  display: flex;
  align-items: center;
  border: 2px solid black;
  padding: 8px;
}

.scoreboard-divider {
  box-sizing: border-box;
  width: 1px;
  height: 24px;
  background-color: black;
  margin: 0 10px;
  
}

.score-container {
  text-align: center;
}
